<h2>Okręgi wyborcze</h2>

<div class = "container">
  <table class = "table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Województwo</th>
      <th>Ilość uprawnionych do głosowania</th>
    </tr>
    </thead>
    <tbody>
    <% @constituencies.each do |constituency| %>
        <tr>
          <td><%= constituency.name %></td>
          <td><%= constituency.voivodeship_id %></td>
          <td><%= constituency.number_of_voters %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>