<h2>Województwa</h2>

<div class = "container">
  <% if @voivodeships && @voivodeships.exists? %>
      <table class = "table">
        <thead>
        <tr>
          <th>Lp.</th>
          <th>Nazwa</th>
          <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% @voivodeships.each do |voivodeship| %>
            <tr>
              <td><%= voivodeship.id %></td>
              <td><%= voivodeship.name %></td>
              <td>
                <%= link_to 'Edytuj okręgi w województwie',
                            admin_voivodeship_constituencies_path(voivodeship),
                            class: 'btn btn-primary' %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
  <% else %>
      <p>Nie ma jeszcze żadnych województw</p>
  <% end %>
</div>