<% if vote.committee_id == committee.id && vote.constituency_id == @current_constituency %>
<%= link_to 'Edytuj głosy',
edit_vote_path(:id => vote.id),
class: 'btn btn-primary' %>
<% else %>
<%= link_to 'Wprowadź głosy',
new_vote_path(:id => committee.id),
class: 'btn btn-primary' %>
<% end %>


<% @committees.each do |committee| %>
<tr>
    <td><%= committee.name %></td>
    <td><%= link_to image_tag(committee.image.url(:small)), committee.image.url %></td>
    <td>
        <% @votes.each do |vote| %>
        <%= committee.id == vote.committee.id && @current_constituency.id == vote.constituency_id ? vote.number_of_votes : nil %>
        <% end %>
    </td>
    <td>
        <% @votes.each do |vote| %>
        <% if vote.committee_id == committee.id %>
        <%= link_to 'Pokaż głosy',
        vote_path(:id => vote.id),
        class: 'btn btn-primary' %>
        <% end %>
        <% end %>
    </td>
</tr>
<% end %>


const =comm.votes.find_by(:constituency_id => 3)
