<h2>Ilość głosów oddana na poszczególne komitety</h2>

<h2>Komitety wyborcze</h2>

<div class = "container">
  <table class = "table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Logo</th>
      <th>Ilość głosów w okręgu</th>
    </tr>
    </thead>
    <tbody>
    <% @current_user.constituency.voivodeship.committees.map do |committee| %>
        <tr>
          <td><%= committee.name %></td>
          <td><%= link_to image_tag(committee.image.url(:small)),
                          committee.image.url %></td>
          <td><%= committee.votes(:constituency_id => @constituency.id).inspect
          %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>